@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  font-family: iranyekan, roboto, Arial !important;
  /* Colors */
  /* Fonts */
  /* Effects */
}
@font-face {
  font-family: iranyekan;
  font-style: normal;
  font-weight: bold;
  src: url("../../../../fonts/eot/iranyekanwebbold.eot");
  src: url("../../fonts/eot/iranyekanwebbold.eot?#iefix")
      format("embedded-opentype"),
    /* IE6-8 */ url("../../fonts/woff2/iranyekanwebbold.woff2") format("woff2"),
    /* FF39+,Chrome36+, Opera24+*/ url("../../fonts/woff/iranyekanwebbold.woff")
      format("woff"),
    /* FF3.6+, IE9, Chrome6+, Saf5.1+*/
      url("../../fonts/ttf/iranyekanwebbold.ttf") format("truetype");
}

@font-face {
  font-family: iranyekan;
  font-style: normal;
  font-weight: 300;
  src: url("../../fonts/eot/iranyekanweblight.eot");
  src: url("../../fonts/eot/iranyekanweblight.eot?#iefix")
      format("embedded-opentype"),
    /* IE6-8 */ url("../../fonts/woff2/iranyekanweblight.woff2") format("woff2"),
    /* FF39+,Chrome36+, Opera24+*/
      url("../../fonts/woff/iranyekanweblight.woff") format("woff"),
    /* FF3.6+, IE9, Chrome6+, Saf5.1+*/
      url("../../fonts/ttf/iranyekanweblight.ttf") format("truetype");
}

@font-face {
  font-family: iranyekan;
  font-style: normal;
  font-weight: normal;
  src: url("../../fonts/eot/iranyekanwebregular.eot");
  src: url("../../fonts/eot/iranyekanwebregular.eot?#iefix")
      format("embedded-opentype"),
    /* IE6-8 */ url("../../fonts/woff2/iranyekanwebregular.woff2")
      format("woff2"),
    /* FF39+,Chrome36+, Opera24+*/
      url("../../fonts/woff/iranyekanwebregular.woff") format("woff"),
    /* FF3.6+, IE9, Chrome6+, Saf5.1+*/
      url("../../fonts/ttf/iranyekanwebregular.ttf") format("truetype");
}

/* Latin fonts (Roboto) */

@font-face {
  font-family: roboto;
  font-style: normal;
  font-weight: bold;
  src: url("../../fonts/eot/robotobold.eot");
  src: url("../../fonts/eot/robotobold.eot?#iefix") format("embedded-opentype"),
    /* IE6-8 */ url("../../fonts/woff2/robotobold.woff2") format("woff2"),
    /* FF39+,Chrome36+, Opera24+*/ url("../../fonts/woff/robotobold.woff")
      format("woff"),
    /* FF3.6+, IE9, Chrome6+, Saf5.1+*/ url("../../fonts/ttf/robotobold.ttf")
      format("truetype");
}

@font-face {
  font-family: roboto;
  font-style: normal;
  font-weight: 300;
  src: url("../../fonts/eot/robotolight.eot");
  src: url("../../fonts/eot/robotolight.eot?#iefix") format("embedded-opentype"),
    /* IE6-8 */ url("../../fonts/woff2/robotolight.woff2") format("woff2"),
    /* FF39+,Chrome36+, Opera24+*/ url("../../fonts/woff/robotolight.woff")
      format("woff"),
    /* FF3.6+, IE9, Chrome6+, Saf5.1+*/ url("../../fonts/ttf/robotolight.ttf")
      format("truetype");
}

@font-face {
  font-family: roboto;
  font-style: normal;
  font-weight: normal;
  src: url("../../fonts/eot/robotoregular.eot");
  src: url("../../fonts/eot/robotoregular.eot?#iefix")
      format("embedded-opentype"),
    /* IE6-8 */ url("../../fonts/woff2/robotoregular.woff2") format("woff2"),
    /* FF39+,Chrome36+, Opera24+*/ url("../../fonts/woff/robotoregular.woff")
      format("woff"),
    /* FF3.6+, IE9, Chrome6+, Saf5.1+*/ url("../../fonts/ttf/robotoregular.ttf")
      format("truetype");
}
body {
  background-color: #FAFAFA;
  width: 1920px;
}

.text-gray-600 {
  font-family: 'iranyekan', Arial, sans-serif; 
  color: #4a5568; 
}
.font-semibold.text-gray-900 {
  font-family: 'iranyekan', Arial, sans-serif; 
  font-weight: bold; 
  color: #1a202c; 
}

.gradient-background {
  background-image: radial-gradient(circle,270deg, rgba(143, 17, 166, 0.10) 3.69%, rgba(143, 17, 166, 0.50) 50.04%, rgba(238, 228, 240, 0.1) 96.71%);
}


.bg-custom-purple {
  background-color: #8F11A6;
}
.hover\:bg-custom-purple:hover {
  background-color: #7e0f9d; 
}


.calender {
  max-width: 1920px; 
}



img {
  max-width: 998px; 
 max-height: 437px; 
}
